
.game_info_container {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    color: white;
    font-family: monospace;
    background: rgba(0,0,0,0.7);
    padding: 15px;
    border-radius: 8px;
    min-width: 200px;
}

.loading_container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: monospace;
    background-color: rgba(0,0,0,0.8);
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}
