.lobby_screen_container {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    top: 0;
    padding-top: 0.5rem;

    font-family: monospace;
    background-image: url('../../public/background_lobby.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.logo_container {
    position: absolute;
    width: fit-content;
    height: fit-content;

    top: 2rem;
    left: 2rem;
}

.logo_image {
    width: 20rem;
}

/* 
    Lobby Menu (Top-Right)
*/
.lobby_menu_container {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    gap: 1rem;
}

.menu_button {
    width: 3rem;
    height: 3rem;

    background-color: rgba(153, 186, 115, 0.558);
    border: none;
    box-shadow: 0 0 5px 0 rgb(0, 23, 1);
    border-radius: 50%;
    background-size: 65%;
    background-position: center;
    background-repeat: no-repeat;

    transition: all 0.3s ease-in-out;
}

.menu_button:hover {
    background-color: rgb(224, 220, 145);
    transform: scale(1.05) translateY(-2px);
}

.menu_button:active {
    transform: scale(0.8);
}

/* All the different menu button backgrounds */
.exit_toggle {
    background-image: url("../../public/logout.png");
}

.music_toggle {
    background-image: url("../../public/music_On.png");
}

.muted_music_button {
    background-image: url("../../public/music_Off.png");
}  

.settings_toggle {
    background-image: url("../../public/setting.png");
}