.lobby_screen_container {
    position: absolute;
    z-index: 100;
    width: 100%;
    height: 100%;
    top: 0;
    padding-top: 0.5rem;

    font-family: monospace;
    background-image: url('../../public/background_lobby.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    user-select: none;
}

.logo_container {
    position: absolute;
    width: fit-content;
    height: fit-content;

    top: 1rem;
    left: 2.5rem;
}

.logo_image {
    width: 24rem;
}

/*
    Lobby Info Container (Mid)
*/
.lobby_info_container {
    z-index: 100;
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 100%;
    top: 15rem;
    padding: 2rem;
}

.extra_lobby_info {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.info_text {
    font-size: 1.2rem;
    color: white;
}

.highlight_text {
    text-shadow: 0 0 10px rgb(0, 72, 255);
}

.options_menu {
    width: fit-content;
    height: fit-content;
    gap: 1rem;
    display: flex;
    flex-direction: column;
}

.lobby_option_button {
    width: 24rem;
    height: 4rem;
    border: none;
    display: flex;
    align-items: center;
    background-color: rgba(50, 50, 50, 0.629);

    font-size: 3.3rem;
    font-weight: 600;
    color: white;
    border: 4px solid rgba(0, 0, 0, 0.207);
    transition: all 0.3s ease-in-out;
}

.lobby_option_button:hover {
    transform: scale(1.04) translateX(15px);
}

.lobby_option_button:active {
    transform: scale(0.9);
}

.lobby_option_button div {
    width: 4rem;
    height: 3rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.play_icon {
    background-image: url("../../public/play-button.png");
}

.player_list_icon {
    background-image: url("../../public/avatar.png");
}

.vote_icon {
    background-image: url("../../public/vote.png");
}

/* 
    Lobby Menu (Top-Right)
*/
.lobby_menu_container {
    width: fit-content;
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    gap: 1rem;
}

.menu_button {
    width: 3rem;
    height: 3rem;

    background-color: rgba(153, 186, 115, 0.558);
    border: none;
    box-shadow: 0 0 5px 0 rgb(0, 23, 1);
    border-radius: 50%;
    background-size: 65%;
    background-position: center;
    background-repeat: no-repeat;

    transition: all 0.3s ease-in-out;
}

.menu_button:hover {
    background-color: rgb(224, 220, 145);
    transform: scale(1.05) translateY(-2px);
}

.menu_button:active {
    transform: scale(0.8);
}

/* All the different menu button backgrounds */
.exit_toggle {
    background-image: url("../../public/logout.png");
}

.music_toggle {
    background-image: url("../../public/music_On.png");
}

.muted_music_button {
    background-image: url("../../public/music_Off.png");
}

.settings_toggle {
    background-image: url("../../public/setting.png");
}

/*
    Player List
*/
.player_list_container {
    width: 30rem;
    height: 40rem;
    position: absolute;
    background-color: rgba(35, 35, 35, 0.558);
    box-sizing: border-box;
    z-index: 102;
    right: 4rem;
    bottom: 4rem;
    padding: 1rem;
    overflow: hidden;
    overflow-y: auto;
    box-shadow: 0 0 5px 0 rgb(0, 23, 1);
    user-select: none;
    visibility: hidden;  
}

.player_list_header {
    font-size: 1.4rem;
    color: white;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid rgb(255, 255, 255);
}

.players_container {
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.player_list_item_container {
    width: 100%;
    height: 2.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.2rem;
    background-color: rgba(0, 255, 255, 0.459);

    transition: all 0.3s ease-in-out;
}

.player_list_item {
    font-size: 1.2rem;
    color: white;
}

.player_icon {
    width: 2rem;
    height: 1.5rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url("../../public/avatar.png");
}

.player_list_item_container:hover {
    transform: scale(1.02);
}

.player_list_item_container:active {
    transform: scale(0.9);
}   

/* 
    Voting Interface
*/
.voting_interface_container {
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background-image: url("../../public/background_lobby.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: monospace;
    user-select: none;
}

.return_to_lobby_button {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 8rem;
    height: 3rem;

    border: none;
    font-family: monospace;
    color: white;
    border: 2px solid rgba(255, 255, 255, 0.278);
    border-radius: 2px;
    background-color: rgba(0, 0, 0, 0.43);

    transition: all 0.3s ease-in-out;
}

.return_to_lobby_button:hover {
    border: 2px solid white;
    transform: translateX(2px);
}

.return_to_lobby_button:active {
    transform: scale(0.7);
}

.vote_header1 {
    font-size: 2.5rem;
    color: white;
    color: white;
    text-shadow: 0 0 3px blue;
    text-decoration: underline;
    text-decoration-thickness: 0.3rem;
    text-underline-offset: 1.3rem;
}

.time_text {
    font-size: 1.2rem;
    color: white;
    font-weight: 600;
    text-shadow: 0 0 5px blue;
}

.map_cards_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 2rem;
}

.map_vote_card {
    width: 25%;
    height: 90%;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    background-color: white;
    transition: all 0.3s ease-in-out;
}

.map_vote_card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px 0 rgb(123, 255, 123);
}

.map_vote_card:active {
    transform: scale(0.9);
}

.map_header {
    font-size: 2.1rem;
    color: white;
    text-shadow: 0 0 5px red;
}

.vote_card_header1 {
    margin-top: -0.2rem;
    font-size: 1rem;
    color: white;
    text-shadow: 0 0 5px red;
    text-decoration: underline;
    text-decoration-thickness: 0.2rem;
    text-underline-offset: 0.3rem;
}

.vote_card_text {
    font-size: 2rem;
    color: white;
    text-shadow: 1px 0 5px red;
}

/*
*
*
*  Media Queries
*
*
*/
@media screen and (max-width: 1000px) {
    .player_list_container {
        right: 4rem;
        bottom: 4rem;
        width: 20rem;
        height: 25rem;
    }
}

@media screen and (max-width: 800px) {
    .return_to_lobby_button { 
        width: 6rem;
        height: 3rem;
        font-size: 0.6rem;
    }

    .vote_header1 {
        font-size: 1.8rem;
    }

    .map_header { 
        font-size: 1.5rem;
    }
}