.settings_menu {
    position: absolute;
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;
    text-align: center;
    z-index: 105;

    background-color: rgba(0, 0, 0, 0.416);
    backdrop-filter: blur(5px);
    visibility: hidden;
    overflow: hidden;
    color: white;
    overflow-y: auto;
}

.exit_settings_button {
    position: absolute;
    width: 3rem;
    height: 3rem;
    top: 1rem;
    right: 1rem;

    font-size: 1.9rem;
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.813);
    text-align: center;
    border: none;
    border-radius: 50%;
    align-content: center;
    transition: all 0.2s ease-in-out;
}

.exit_settings_button:hover {
    background-color: black;
    color: white;
    transform: scale(1.1);
}

.header1 {
    font-size: 2rem;
    font-weight: 600;
    color: white;

    text-decoration: underline;
    text-decoration-thickness: 0.1rem;
    text-underline-offset: 0.9rem;
    text-decoration-style: double;
}

.controls_container {
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}

.save_button {
    width: 13rem;
    height: 3rem;
    border: 2px solid rgba(255, 255, 255, 0.223);

    background-color: rgba(0, 0, 0, 0.775);
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    transition: all 0.3s ease-in-out;
}

.save_button:hover { 
    border: 2px solid white;
}

.save_button:active { 
    transform: scale(0.7);
}

/*
    Sounds
*/
.sound_settings_container {
    width: 100%;
    height: fit-content;
    
    display: flex;
    flex-direction: column;
}

.sound_inputs_container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.sound_input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.sound_input label {
    width: 10rem;
    font-size: 1rem;
    font-weight: 500;
}

.sound_slider {
    width: 10rem;
    height: fit-content;

    appearance: none;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

.sound_slider::-webkit-slider-runnable-track {
    background-color: rgba(0, 0, 0, 0.696);
    border: 2px solid rgba(255, 255, 255, 0.239);
    padding: 0.2rem;
    border-radius: 10px;

    transition: all 0.3s ease-in-out;
}

.sound_slider::-webkit-slider-runnable-track:hover {
    border: 2px solid rgba(255, 255, 255, 0.745);
}

.sound_slider::-webkit-slider-thumb {
    appearance: none;

    width: 1rem;
    height: 1rem;
    background-color: white;
    border-radius: 50%;
    box-shadow: 0 0 2px 0 rgb(156, 255, 110);
}

/*
    Keybinds
*/
.keybind_settings_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.4rem;
    color: white;
}

.keybind_setting {
    width: 20rem;
    height: 3rem;
    padding-left: 1rem;
    padding-right: 2rem;
    border-radius: 3px;
    border: 2px solid rgba(255, 255, 255, 0.223);
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.775);
    color: white;
    font-size: 1.1rem;
    transition: all 0.3s ease-in-out;
}

.keybind_setting.reset_button {
    justify-content: center;
}

.keybind_setting:hover {
    border: 2px solid white;
}

.keybind_setting:active {
    transform: scale(0.8);
}

.update_keybind_alert {
    position: fixed;
    top: 0; 
    width: 100%;
    height: 100%;
    z-index: 106;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;

    background-color: rgba(0, 0, 0, 0.761);
    color: white;

    font-size: 2rem;
}

/*
    Authentication Section
*/
.auth_settings_container {
    position: relative;
    width: 20rem;  
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    gap: 1rem;
    padding-bottom: 1rem;
    margin-top: 2rem;
}

.clerk_signout_button {
    z-index: 1000;
    width: 10rem;
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.673);
    border: 2px solid rgba(255, 255, 255, 0.342);
    color: white;
    transition: all 0.3s ease-in-out;
}

.clerk_signout_button:hover {
    border: 2px solid white;
    transform: scale(1.04);
    border-radius: 5px;
}

/* ScrollBar */
::-webkit-scrollbar {
    width: 0.7rem;
    height: 0.03rem;
}

::-webkit-scrollbar-thumb {
    background: white;

    border-radius: 0.6px;
}

::-webkit-scrollbar-track {
    width: 0.2rem;
}


@media screen and (max-width: 800px) {
    .controls_container {
        display: flex;
        flex-direction: column;
    }
}   
