#Prod env vars
PGDATABASE="railway"
DATABASE_PUBLIC_URL="postgresql://postgres:bvctxOhwmdQnztNfFMBfJGpsJcroaZxO@caboose.proxy.rlwy.net:15413/railway"
PGHOST="shortline.proxy.rlwy.net"
PGPASSWORD="YOUR_PG_PASSWORD"
PGUSER="postgres"
PGPORT=5432